*{
    margin: 0;
    padding: 0;
    

}


body{
   background-image:url(cimg.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
.sv{
    padding-bottom: 5%;
}
h1{
    text-align:center;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:rgb(49, 48, 48);
    font-style: bold;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 50px;
   

}
.main{
    width: 100%;
    height: 100%;
    text-align:center;
    position: relative;
    cursor: pointer;
    margin-bottom: 10%;
    margin-top: 70px;
    
    
}
.service{
    width: 100%;
    height: 400px;
    background:rgba(27, 27, 27, 0.925);
    color: white;
    
    border-radius: 25px;
    position: relative;
    bottom: 10px;
    z-index: 1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
    border: 2px solid rgba(0, 0, 0, 0.425);
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}
.service p{
    padding-top: 20px;
}
.service h4{
    padding-top: 50px;
}

.logo{
    width: 130px;
    height: 50px;
    border-radius: 50%;
    margin: -90px auto 0;
    
    

}
.logo img{
    width: 80px;
    margin-top: 20px;
    height: 80px;
    transition: transform 1s;
    clip-path: circle();
    border: white 5px solid;
    border-radius: 100px;

}
.service h4{
       height: 35px;
       width: 80%;
       
       margin: 50px auto;
       position: relative;


}


.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
   
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;

}
.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    font-weight: 20px;
    background: linear-gradient(to right);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;

}

.main:hover .service{
    transform: translateY(-50px);
    

}
.main:hover .shadowone{
    transform: translateY(-25px);
    
}
.main:hover  img{
    transform: rotate(360deg);
    
}
#spd{
    height: 290px;
}
#ddt{
    height: 290px;
}
#qa{
    height: 290px;
}
html{
    scroll-behavior: smooth;
}

.nav{
    position: relative;
}

.navbar{
     background-color: black;
     padding: 1rem 2rem;
     z-index: 1000;
 }
 #navbarNav > ul > li:nth-child(n) > a{
     color: white ;
     font-size: 1.1rem;
     padding: 1 1rem;
     height: 10px;
 }
 #navbarNav > ul > li:nth-child(n) > a:hover,
 #navbarNav > ul > li:nth-child(n) > a:active{
     color: #fcea23;
 }
 .btn{
    background: #fcea23;
    border-color: #fcea23;
    font-weight: 800;
    padding: 0.5rem 0.8rem;
    border-radius: 25px;
    color: rgb(44, 44, 44);
    margin-left: 1rem;
}
.btn:hover{
    background: rgb(254, 255, 180);
    border-color: rgb(232, 255, 180);
    font-weight: 800;
    padding: 0.5rem 0.8rem;
    border-radius: 15px;
    color: rgb(77, 77, 77);
}

.footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: black;
    color: #fff;
    padding: 50px 0 10px;
    border-top-left-radius: 125px;
    font-size: 15px;
    line-height: 20px;
}
form{
    padding-bottom: 15px;
   
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px #fff;
    margin-bottom: 50px;
}

form .btn{
    margin-top: 20px;
    margin-left: -3px;
}

form input{
    width: 100%;
    
}

.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
.footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between; 
}
.col{
    flex-basis: 20%;
    padding: 10px;
} 
.footer .row .col img{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-right: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
 li{
     list-style: none;
     margin-bottom: 12px;
}
 li a{
    text-decoration: none;
    color: white; 
}
li a:hover{
    color: #fcea23;
}
.copyright{
    color: #ccc;
    text-align: end;
    padding-right: 10%;
}




.read{
    margin-bottom: 0;
    margin-left: 60%;
    background: #fcea23;
    border-color: #fcea23;
    font-weight: 800;
    padding: 0.5rem 0.8rem;
    border-radius: 25px;
    color: rgb(44, 44, 44);
    margin-left: 1rem;
    color: white;

}
.read:hover{
    background: rgb(254, 255, 180);
    border-color: rgb(232, 255, 180);
    font-weight: 800;
    padding: 0.5rem 0.8rem;
    border-radius: 15px;
    color: rgb(77, 77, 77);
}
.read a{
    color: rgb(66, 66, 66);
}

